*{
    padding:0;
    margin:0; 
    box-sizing: border-box;
    text-align: center;
   
}
.main{
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("./showerback1.jpg");
   
}
.card1{
    width:30%;
    height:90%;
    background-image: url("./frozen4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.card1 img{
    width:75%;
    height:300px;
    animation: froze 3s linear 1; 
}
.card1 h1{
    color:purple;
    font-family:Lucida Handwriting;
}
.card1 h4{
    color:purple;
}
.card1 h3{
    color:purple;
    padding:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    animation:one 2s linear 1 forwards;
    position: relative;
    animation-delay:3s;
    visibility: hidden;
}
.two{
    animation:two 2s linear 1 forwards;
    position: relative;
    animation-delay:3s;
    visibility: hidden;
}
@keyframes one{
    from{
      top:-20px;
        visibility: visible;
    }
    to{
        top:0;
        visibility: visible;
    }
}
@keyframes two{
    from{
        bottom:-10px;
        visibility: visible;
    }
    to{
        bottom:0;
        visibility: visible;
    }
}
@keyframes froze{
    0%{
        opacity:0;
    }
    25%{
        opacity:0.3;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.7;
    }
    100%{
        opacity:1;
        scale:1.2;
    }
}
.card2{
    width:30%;
    height:90%;
    position: relative;
    /* background-image: url("./back3.jpg"); */
}
 video{
    width:100%;
    height:90vh;
    object-fit: cover;
   
} 
.car{
    width:80%;
    position:absolute;
    top:30px;
    left:5%;
}
.card2 h1{
    color:tomato;
    font-family: Impact,Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.car1{
    width:100%;
    height:200px;
    padding-top:20px;
 
    
}
.car1 img{
    width:70%;
    height:200px;
    animation: car 3s linear  1  forwards;
    position:relative;
}
.h11{
    transform:skew(-30deg);
font-size: 50px;
padding-bottom: 20px;
animation: text1 2s linear 3s 2 alternate backwards;
position: relative;
}
.h12{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    animation: froze 5s linear 1; 
}
h4{
    font-family:lucida handwriting;
   
}
.h51{
   padding-top:30px;
   font-family:lucida handwriting;
}
.h52{
    padding: 10px;
    font-family:lucida handwriting;
} 
@keyframes text1{
    from{
        left:-100px;
        opacity:0;
    }
    to{
        left:100px;
    }

}
@keyframes car{
    0%{
        opacity:0;
        right:-300px;
    }
    25%{
        opacity:0.3;
        right:-200px;
    }
    50%{
        opacity:0.6;
        right:-100px;
    }
    75%{
        right:-50px;
        opacity:0.8;
    }
    100%{
        opacity:1;
        right:10px;
    }
}
@media only screen and (max-width:892px){
    .main{
        height:100%;
        flex-direction: column;
        gap:20px;
    }
    .card1{
        margin-top: 20px;
    }
    .card1,.card2{
        width: 80%;
    }
    .car{
        width: 100%;
    }
}
